.issue {
  list-style-type: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  max-width: 80%;
  padding: 16px;
  margin-right: 0;
  margin-left: auto;
  text-align: left;
}
